.minecraft/saves/
.minecraft/config/
.minecraft/CustomSkinLoader/
.minecraft/logs/
.minecraft/XaeroWaypoints/
.minecraft/XaeroWaypoints_BACKUP032021/
.minecraft/XaeroWorldMap/
.minecraft/assets/skins/
.minecraft/patched_shaders/
.minecraft/.mixin.out
.minecraft/launcher_profiles.json
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/servers.dat
.minecraft/mods/iris-mc1.17-1.1.0.jar
hmcl.json
服务器地址.txt
客户端使用及联网说明.txt
.minecraft/assets/skins/sk/skinme_skin_5371
*.dat_old
.minecraft/mods/betterf3-1.1.5+1.17
.minecraft/mods/dark-loading-screen-1.6.5
.minecraft/mods/EmeraldTools-Fabric-1.17.1-1.2.19
.minecraft/mods/fabric-diagonal-panes-0.5.0
.minecraft/mods/immersive-portals-0.07-mc1.17-fabric
.minecraft/mods/IngameIME-fabric-1.17-pre5-1.6.4
.minecraft/mods/jumpoverfences-1.16-0.0.3
.minecraft/mods/lifts-1.1.2-BETA+1.17
.minecraft/mods/luminous-wool-1.0.1
.minecraft/mods/NE-1.17-Fabric-1.2.0
.minecraft/mods/smoothboot-fabric-1.16.5-1.6.0