.minecraft\saves
.minecraft\config
.minecraft\CustomSkinLoader
.minecraft\logs
.minecraft\XaeroWaypoints
.minecraft\XaeroWaypoints_BACKUP032021
.minecraft\XaeroWorldMap
.minecraft\launcher_profiles.json
.minecraft\options.txt
.minecraft\usercache.json
hmcl.json