.minecraft/saves/
.minecraft/config/
.minecraft/CustomSkinLoader/
.minecraft/logs/
.minecraft/XaeroWaypoints/
.minecraft/XaeroWaypoints_BACKUP032021/
.minecraft/XaeroWorldMap/
.minecraft/assets/skins/
.minecraft/patched_shaders/
.minecraft/.mixin.out
.minecraft/launcher_profiles.json
.minecraft/options.txt
.minecraft/usercache.json
.minecraft/servers.dat
hmcl.json
服务器地址.txt
客户端使用及联网说明.txt
.minecraft/assets/skins/sk/skinme_skin_5371
*.dat_old
.minecraft/mods/betterf3-1.1.5+1.17
.minecraft/mods/immersive-portals-0.07-mc1.17-fabric
.minecraft/versions/1.17/.abnormal
.minecraft/mods/BetterSodiumVideoSettingsButton-2.0.0
.minecraft/mods/elytratrinket-fabric-2.0.1-1.17
.minecraft/mods/trinkets-3.0.0
.minecraft/mods/iris-mc1.17-1.1.0.jar
.minecraft/mods/trinketshulkerboxes-fabric-2.0.0-1.17